.App {
  padding: 10px;
}

.App_btn {
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #1d1b19;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #ecd7ba;
  box-shadow: 0 0 1px #1d1b19;
  cursor: pointer;
}

.App_btn:hover {
  background-color: #e1bf8f;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
